[submodule "athena"]
	path = athena
	url = git://github.com/blackwinter/athena.git
[submodule "cmess"]
	path = cmess
	url = git://github.com/blackwinter/cmess.git
[submodule "perseus_match"]
	path = perseus_match
	url = git://github.com/blackwinter/perseus_match.git
[submodule "medusa"]
	path = medusa
	url = git://github.com/perseus-a/medusa.git
[submodule "lingo"]
	path = lingo
	url = git://github.com/perseus-a/lingo.git
